<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <%- include('../../partials/header') %>
        <!-- Dashboard Content -->
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
            <h1 class="text-2xl mb-5 text-gray-700 font-medium">Products</h1>

            <div class="grid grid-cols-4 gap-5">
                <% products.forEach((product,index)=>{ %>
                    <div class="w-full mx-auto bg-white shadow-md overflow-hidden rounded-lg">
                        <img class="w-full h-48 object-contain object-center py-1" src="/<%=product.image %>"
                            alt="Product Image">
                        <div class="p-6">
                            <div class="flex justify-between items-center whitespace-nowrap">
                                <h2 class="mr-3 text-gray-600 font-semibold">₹ <%=product.price %>
                                </h2>
                                <h2 class="text-gray-500 line-clamp-1">
                                    <%=product.subCategoryId.categoryId.name %> > <%=product.subCategoryId.name %>
                                </h2>
                            </div>
                            <div class="mt-4">
                                <h1 class="text-xl font-semibold text-gray-900 line-clamp-2">
                                    <%=product.name %>
                                </h1>
                                <p class="mt-2 text-gray-600 line-clamp-2">
                                    <%=product.description %>
                                </p>
                            </div>
                            <div class="mt-4">
                                <button
                                    class="bg-blue-500 text-white px-3 py-1 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Add
                                    to Cart</button>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>

        </div>
</body>