<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <%- include('../../partials/sidebar') %>
        <!-- Main Content -->
        <div class="ml-64">
            <%- include('../../partials/header') %>
                <!-- Dashboard Content -->

                <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                        <h1 class="text-gray-600 font-bold text-xl mb-3">Add Product</h1>
                        <form action="" method="post" enctype="multipart/form-data">
                            <div class="grid grid-cols-2 items-center gap-3">
                                <div class="mb-4">
                                    <label class="block text-gray-700 text-sm font-medium mb-2" for="username">
                                        Product Name
                                    </label>
                                    <input
                                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                        id="name" name="name" type="text" placeholder="Enter product name">
                                </div>
                                <div class="mb-4">
                                    <label class="block text-gray-700 text-sm font-medium mb-2" for="username">
                                        Product Description
                                    </label>
                                    <input
                                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                        id="description" name="description" type="text" placeholder="Enter description">
                                </div>
                                <div class="mb-4">
                                    <label class="block text-gray-700 text-sm font-medium mb-2" for="username">
                                        Product Price
                                    </label>
                                    <input
                                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                        id="price" name="price" type="text" placeholder="Enter price">
                                </div>
                                <div class="mb-4">
                                    <label class="block text-gray-700 text-sm font-medium mb-2" for="username">
                                        Product Image
                                    </label>
                                    <input
                                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                        id="image" name="image" type="file" placeholder="Enter image"
                                        accept="image/jpeg, image/png">
                                </div>
                            </div>
                            <div class="grid grid-cols-3 items-center gap-3">

                                <div class="mb-4">
                                    <label class="block text-gray-700 text-sm font-medium mb-2" for="brand">
                                        Brand
                                    </label>
                                    <select name="brandId" id=""
                                        class="shadow  border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                                        <option value="">--Select brand--</option>
                                        <% brands.forEach((brand,index)=>{ %>
                                            <option value="<%=brand._id%>">
                                                <%=brand.name%>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>

                                <div class="mb-4">
                                    <label class="block text-gray-700 text-sm font-medium mb-2" for="username">
                                        Category
                                    </label>
                                    <select onchange="filterCategory(this)" name="categoryId" id=""
                                        class="shadow  border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                                        <option value="">--Select Category--</option>
                                        <% categories.forEach((category,index)=>{ %>
                                            <option value="<%=category._id%>">
                                                <%=category.name%>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>

                                <div class="mb-4">
                                    <label class="block text-gray-700 text-sm font-medium mb-2" for="username">
                                        Sub Category
                                    </label>
                                    <select name="subCategoryId" id="select-sub-category"
                                        class="shadow  border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                                        <option value="">--Select Sub Category--</option>
                                    </select>
                                </div>


                            </div>

                            <div class="flex items-center justify-between">
                                <button
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                    type="submit">
                                    Add
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
        </div>
        </div>

        <script>
            const filterCategory = async (e) => {
                const id = e.value
                const subCategories = await fetchSubCategories(id)

                let html = `<option value="">--Select Sub Category--</option>`
                subCategories.forEach(subCategory => {
                    html += `<option value="${subCategory._id}">${subCategory.name}</option>`
                });

                const subCategoryElement = document.getElementById('select-sub-category')
                subCategoryElement.innerHTML = html
            }

            const fetchSubCategories = async (id) => {
                try {
                    const res = await fetch(`/subcategory/api/${id}`)
                    const { data } = await res.json()

                    return data
                } catch (error) {
                    console.log(error)
                }

            }
        </script>
</body>